.vendor
  .contact_info
    %p
      = @vendor.address
    %p
      = @vendor.city + ", " + @vendor.state + " " + @vendor.zip
    -if @vendor.phone
      %p
        = @vendor.phone
        (p)
    -if @vendor.fax
      %p
        = @vendor.fax
        (f)
    %p
      = @vendor.email
    %p
      = link_to @vendor.website, @vendor.website
  %h2
    = @vendor.name
  %h4
    Description
  %p
    = @vendor.description
  %h4
    Services
  %p
    = @vendor.services_description
  %h4
    Clients and Case Studies
  %p
    = @vendor.clients_description
  %h4
    Pricing
  %p
    = @vendor.pricing_description
  %h4
    References    
  %p
    = @vendor.references
  %h4
    In the Press
  %p
    = @vendor.press

  = link_to "Edit Details", edit_vendor_path(@vendor)
  .reviews
    - @vendor.reviews.each do |review|
      .review-inline
        .author
          = review.user.name
        = review.description
  %hr

  -if current_user
    %h3
      Add Your Review
    = render :partial => 'reviews/form'
  -else
    = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
