.vendor
  %h2
    = @vendor.name
  .description
    = @vendor.description
  = link_to "Edit Details", edit_vendor_path(@vendor)
  .reviews
    - @vendor.reviews.each do |review|
      .review-inline
        .author
          = review.user.name
        = review.description
  %hr

  -if current_user
    %h3
      Add Your Review
    = render :partial => 'reviews/form'
  -else
    = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
