<!DOCTYPE html>
%html
  %head
    %title Vendor Guide
    = stylesheet_link_tag 'compiled/screen'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .header
      .login
        - if current_user
          .login-info
            = "#{current_user.me.first_name} #{current_user.me.last_name}"
            = link_to "Logout", destroy_user_session_path
          .login-image
            = image_tag current_user.me.square_image_url, :width => '25px', :height => '25px'
        - else
          .login-info
            = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
      <div style="clear: both;"></div>
      .header_logo
        = link_to (image_tag 'vendorguide_header.png'), root_url

    .wrapper
      .sidebar
        %h1 Tag Cloud
        .content_area
          .cloud_item
            = link_to "Voter File", "", :class => 'large_text'
          .cloud_item
            = link_to "Polling", ""
          .cloud_item
            = link_to "Online Communications", ""
          .cloud_item
            = link_to "Community Organizing", "", :class => 'large_text'
        %h1 My Vendors
        .content_area
          %ul
            %li 
              = link_to "Catalist", ""
            %li 
              = link_to "Voter Activation Network", ""
            %li 
              = link_to "We Also Walk Dogs", ""
      .content
        .messages
          - flash.each do |key, msg|
            %div{'class' => key}
              = msg

        = yield
      .footer
        A project of the NOI Technology Working Group
